{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}


<div class="container">

{% for bike in bikes %}

  <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/728x90.png?text=Un+très+jolie+vélo

          C/O https://placeholder.com/" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title"><a href="product.html" title="View Product">{{ bike.name }}</a></h4>
              <p class="card-text">{{bike.description}}</p>
              <div class="row">
                  <div class="col">
                      <p class="btn btn-danger btn-block">{{bike.price}} &euro;</p>
                      <a href="#" class="btn btn-success btn-block">Ajouter au panier</a>
                  </div>                               
              </div>
          </div>
      </div>
  </div>
{% endfor %}
</div>

{% endblock %}
