<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="main-header">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="{{path('home')}}">
                        <span id="brand"><i class="fas fa-bike"></i>&nbsp;&nbsp;Bikesterdam.com</span>
                    </a>
        
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbSupportedContent">
                       <ul class="navbar-nav mr-auto ml-auto">
                            <li class="nav-item">
                                <a class="nav-link " href="{{path('home')}}">Acceuil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{path('product')}}">Nos vélos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Contactez-nous</a>
                            </li>
                        </ul>
        
                        <ul class="navbar-nav">
                             <li class="nav-item">
                                 <a class="nav-link" href="{{path('login')}}">Mon Compte</a>
                             </li>
                             <li class="nav-item">
                                 <a class="nav-link cart" href="#">Panier</a>
                             </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
